.mrg {
  margin: 0 !important;

  &--5 {
    margin: 5px !important;
  }

  &--10 {
    margin: 10px !important;
  }

  &--12 {
    margin: 12px !important;
  }

  &--15 {
    margin: 15px !important;
  }

  &--20 {
    margin: 20px !important;
  }

  &--30 {
    margin: 30px !important;
  }

  &--auto {
    margin: auto !important;
  }

  &--inh {
    margin: inherit !important;
  }

  /*--------------------------------- is alignment of flex property */
  &--f-top {
    margin: 0 auto auto !important;
  }

  &--f-right {
    margin: auto 0 auto auto !important;
  }

  &--f-bottom {
    margin: auto auto 0 auto !important;
  }

  &--f-left {
    margin: auto auto auto 0 !important;
  }

  /*--------------------------------- top */
  &--t0 {
    margin-top: 0 !important;
  }

  &--t1 {
    margin-top: 1px !important;
  }

  &--t2 {
    margin-top: 2px !important;
  }

  &--t3 {
    margin-top: 3px !important;
  }

  &--t4 {
    margin-top: 4px !important;
  }

  &--t5 {
    margin-top: 5px !important;
  }

  &--t6 {
    margin-top: 6px !important;
  }

  &--t7 {
    margin-top: 7px !important;
  }

  &--t8 {
    margin-top: 8px !important;
  }

  &--t9 {
    margin-top: 9px !important;
  }

  &--t10 {
    margin-top: 10px !important;
  }

  &--t11 {
    margin-top: 11px !important;
  }

  &--t12 {
    margin-top: 12px !important;
  }

  &--t13 {
    margin-top: 13px !important;
  }

  &--t14 {
    margin-top: 14px !important;
  }

  &--t15 {
    margin-top: 15px !important;
  }

  &--t16 {
    margin-top: 16px !important;
  }

  &--t18 {
    margin-top: 18px !important;
  }

  &--t20 {
    margin-top: 20px !important;
  }

  &--t24 {
    margin-top: 24px !important;
  }

  &--t25 {
    margin-top: 25px !important;
  }

  &--t28 {
    margin-top: 28px !important;
  }

  &--t30 {
    margin-top: 30px !important;
  }
  &--t40 {
    margin-top: 40px !important;
  }

  &--t54 {
    margin-top: 54px !important;
  }

  /*--------------------------------- right */
  &--r0 {
    margin-right: 0 !important;
  }

  &--r1 {
    margin-right: 1px !important;
  }

  &--r2 {
    margin-right: 2px !important;
  }

  &--r3 {
    margin-right: 3px !important;
  }

  &--r4 {
    margin-right: 4px !important;
  }

  &--r5 {
    margin-right: 5px !important;
  }

  &--r6 {
    margin-right: 6px !important;
  }

  &--r7 {
    margin-right: 7px !important;
  }

  &--r8 {
    margin-right: 8px !important;
  }

  &--r9 {
    margin-right: 9px !important;
  }

  &--r10 {
    margin-right: 10px !important;
  }

  &--r11 {
    margin-right: 11px !important;
  }

  &--r12 {
    margin-right: 12px !important;
  }

  &--r13 {
    margin-right: 13px !important;
  }

  &--r14 {
    margin-right: 14px !important;
  }

  &--r15 {
    margin-right: 15px !important;
  }

  &--r16 {
    margin-right: 16px !important;
  }

  &--r20 {
    margin-right: 20px !important;
  }

  &--r21 {
    margin-right: 21px !important;
  }

  &--r24 {
    margin-right: 24px !important;
  }

  &--r25 {
    margin-right: 25px !important;
  }

  &--r30 {
    margin-right: 30px !important;
  }

  &--r40 {
    margin-right: 40px !important;
  }

  &--r45 {
    margin-right: 45px !important;
  }

  /*--------------------------------- bottom */
  &--b0 {
    margin-bottom: 0 !important;
  }

  &--b1 {
    margin-bottom: 1px !important;
  }

  &--b2 {
    margin-bottom: 2px !important;
  }

  &--b3 {
    margin-bottom: 3px !important;
  }

  &--b4 {
    margin-bottom: 4px !important;
  }

  &--b5 {
    margin-bottom: 5px !important;
  }

  &--b6 {
    margin-bottom: 6px !important;
  }

  &--b7 {
    margin-bottom: 7px !important;
  }

  &--b8 {
    margin-bottom: 8px !important;
  }

  &--b9 {
    margin-bottom: 9px !important;
  }

  &--b10 {
    margin-bottom: 10px !important;
  }

  &--b11 {
    margin-bottom: 11px !important;
  }

  &--b12 {
    margin-bottom: 12px !important;
  }

  &--b13 {
    margin-bottom: 13px !important;
  }

  &--b14 {
    margin-bottom: 14px !important;
  }

  &--b15 {
    margin-bottom: 15px !important;
  }

  &--b16 {
    margin-bottom: 16px !important;
  }

  &--b20 {
    margin-bottom: 20px !important;
  }

  &--b24 {
    margin-bottom: 24px !important;
  }

  &--b25 {
    margin-bottom: 25px !important;
  }

  &--b30 {
    margin-bottom: 30px !important;
  }

  &--b45 {
    margin-bottom: 45px !important;
  }

  /*--------------------------------- left */
  &--l0 {
    margin-left: 0 !important;
  }

  &--l1 {
    margin-left: 1px !important;
  }

  &--l2 {
    margin-left: 2px !important;
  }

  &--l3 {
    margin-left: 3px !important;
  }

  &--l4 {
    margin-left: 4px !important;
  }

  &--l5 {
    margin-left: 5px !important;
  }

  &--l6 {
    margin-left: 6px !important;
  }

  &--l7 {
    margin-left: 7px !important;
  }

  &--l8 {
    margin-left: 8px !important;
  }

  &--l9 {
    margin-left: 9px !important;
  }

  &--l10 {
    margin-left: 10px !important;
  }

  &--l11 {
    margin-left: 11px !important;
  }

  &--l12 {
    margin-left: 12px !important;
  }

  &--l13 {
    margin-left: 13px !important;
  }

  &--l14 {
    margin-left: 14px !important;
  }

  &--l15 {
    margin-left: 15px !important;
  }

  &--l16 {
    margin-left: 16px !important;
  }

  &--l18 {
    margin-left: 18px !important;
  }

  &--l20 {
    margin-left: 20px !important;
  }

  &--l24 {
    margin-left: 24px !important;
  }

  &--l25 {
    margin-left: 25px !important;
  }

  &--l30 {
    margin-left: 30px !important;
  }

  &--t-minus5 {
    margin-top: -5px;
  }

  &--t-minus8 {
    margin-top: -8px;
  }

  &--t-minus25 {
    margin-top: -25px;
  }

  &--r-minus15 {
    margin-right: -15px;
  }

  &--l-minus15 {
    margin-left: -15px;
  }
}