.color {
  &--white {
    color: $white-color !important;
  }

  &--black {
    color: #000 !important;
  }

  &--gray {
    color: #717376 !important;
  }

  &--green {
    color: #5c9042 !important;
  }

  &--yellow {
    color: #f3b763 !important;
  }

  &--red {
    color: #cc0000 !important;
  }

  &--light-red {
    color: $light-red !important;
  }

  &--orange {
    color: $main-orange !important;
  }

  &--blue {
    color: $main-blue !important;
  }

  &--silver {
    color: $checkbox-auth-color !important;
  }
}

.group-pall {

  &--c-1 {
    fill: $col-1 !important;
  }

  &--c-2 {
    fill: $col-2 !important;
  }

  &--c-3 {
    fill: $col-3 !important;
  }

  &--c-4 {
    fill: $col-4 !important;
  }

  &--c-5 {
    fill: $col-5 !important;
  }

  &--c-6 {
    fill: $col-6 !important;
  }

  &--c-7 {
    fill: $col-7 !important;
  }

  &--c-8 {
    fill: $col-8 !important;
  }

  &--c-9 {
    fill: $col-9 !important;
  }

  &--c-10 {
    fill: $col-10 !important;
  }

  &--c-11 {
    fill: $col-11 !important;
  }

  &--c-12 {
    fill: $col-12 !important;
  }

  &--c-13 {
    fill: $col-13 !important;
  }

  &--c-14 {
    fill: $col-14 !important;
  }

  &--c-15 {
    fill: $col-15 !important;
  }

  &--c-16 {
    fill: $col-16 !important;
  }

  &--c-17 {
    fill: $col-17 !important;
  }

  &--c-18 {
    fill: $col-18 !important;
  }

  &--c-19 {
    fill: $col-19 !important;
  }

  &--c-20 {
    fill: $col-20 !important;
  }
}