.font {
  &--inh {
    font-size: inherit !important;
  }

  &--arial {
    font-family: $mainFont !important;
  }

  &--norm {
    font-weight: normal;
  }

  &--bold {
    font-weight: bold;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  &--size7 {
    font-size: 7px !important;
  }

  &--size8 {
    font-size: 8px !important;
  }

  &--size9 {
    font-size: 9px !important;
  }

  &--size10 {
    font-size: 10px !important;
  }

  &--size11 {
    font-size: 11px !important;
  }

  &--size12 {
    font-size: 12px !important;
  }

  &--size13 {
    font-size: 13px !important;
  }

  &--size14 {
    font-size: 14px !important;
  }

  &--size15 {
    font-size: 15px !important;
  }

  &--size16 {
    font-size: 16px !important;
  }

  &--size18 {
    font-size: 18px !important;
  }

  &--size20 {
    font-size: 20px !important;
  }

  &--size22 {
    font-size: 22px !important;
  }

  &--size28 {
    font-size: 28px !important;
  }

  &--size32 {
    font-size: 32px !important;
  }
}

.font-sizer {
  &--bigger-15 {
    font-size: 15px;
  }

  &--bigger-17 {
    font-size: 17px;
  }

  &--bigger-18 {
    font-size: 18px;
  }

  &--bigger-20 {
    font-size: 20px;
  }

}

.text {
  &--underline {
    text-decoration: underline;
  }

  &--no-wrap {
    white-space: nowrap;
  }

  &--dots {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.line-height {
  line-height: 1!important;
}