<div class="news {{ vm.nameClass }}">
    <a href="{{ vm.article.url }}" target="_blank">
        <div class="news__picture">
            <img class="news__image" ng-src="{{ vm.article.image }}">
        </div>
    </a>

    <div class="news__content">

        <!--Заглавие-->
        <a class="news__title link link--hover-line"
           href="{{ vm.article.url }}"
           target="_blank">
            {{ vm.article.title }}
        </a>

        <!--Текст Новости-->
        <div class="news__text" ng-if="vm.isDescription">
            {{ vm.article.description }}
        </div>

        <!--Имя источника-->
        <div class="news__source-name"
             ng-hide="{{ vm.isHiddenTitle }}"
             ng-if="vm.article.source_title">
            {{ vm.article.source_title }}
        </div>

        <!--Изображение источника-->
        <div class="mrg--f-bottom mrg--l0" ng-if="vm.article.source_logo">
            <img class="news__source-image"
                 ng-src="{{ vm.article.source_logo }}">
        </div>
    </div>
</div>



