.pdd {
  padding: 0 !important;

  &--3 {
    padding: 3px !important;
  }

  &--10 {
    padding: 10px !important;
  }

  &--15 {
    padding: 15px !important;
  }

  &--16 {
    padding: 16px !important;
  }

  &--20 {
    padding: 20px !important;
  }

  &--24 {
    padding: 24px !important;
  }

  &--25 {
    padding: 25px !important;
  }

  &--30 {
    padding: 30px !important;
  }

  /*--------------------------------- top */
  &--t0 {
    padding-top: 0 !important;
  }

  &--t1 {
    padding-top: 1px !important;
  }

  &--t2 {
    padding-top: 2px !important;
  }

  &--t3 {
    padding-top: 3px !important;
  }

  &--t4 {
    padding-top: 4px !important;
  }

  &--t5 {
    padding-top: 5px !important;
  }

  &--t6 {
    padding-top: 6px !important;
  }

  &--t7 {
    padding-top: 7px !important;
  }

  &--t8 {
    padding-top: 8px !important;
  }

  &--t9 {
    padding-top: 9px !important;
  }

  &--t10 {
    padding-top: 10px !important;
  }

  &--t11 {
    padding-top: 11px !important;
  }

  &--t12 {
    padding-top: 12px !important;
  }

  &--t13 {
    padding-top: 13px !important;
  }

  &--t14 {
    padding-top: 14px !important;
  }

  &--t15 {
    padding-top: 15px !important;
  }

  &--t16 {
    padding-top: 16px !important;
  }

  &--t20 {
    padding-top: 20px !important;
  }

  &--t24 {
    padding-top: 24px !important;
  }

  &--t25 {
    padding-top: 25px !important;
  }

  &--t30 {
    padding-top: 30px !important;
  }

  &--t35 {
    padding-top: 35px !important;
  }

  &--t40 {
    padding-top: 40px !important;
  }

  /*--------------------------------- right */
  &--r0 {
    padding-right: 0 !important;
  }

  &--r2 {
    padding-right: 2px !important;
  }

  &--r3 {
    padding-right: 3px !important;
  }

  &--r4 {
    padding-right: 4px !important;
  }

  &--r5 {
    padding-right: 5px !important;
  }

  &--r6 {
    padding-right: 6px !important;
  }

  &--r7 {
    padding-right: 7px !important;
  }

  &--r8 {
    padding-right: 8px !important;
  }

  &--r9 {
    padding-right: 9px !important;
  }

  &--r10 {
    padding-right: 10px !important;
  }

  &--r11 {
    padding-right: 11px !important;
  }

  &--r12 {
    padding-right: 12px !important;
  }

  &--r13 {
    padding-right: 13px !important;
  }

  &--r14 {
    padding-right: 14px !important;
  }

  &--r15 {
    padding-right: 15px !important;
  }

  &--r16 {
    padding-right: 16px !important;
  }

  &--r19 {
    padding-right: 19px !important;
  }

  &--r20 {
    padding-right: 20px !important;
  }

  &--r24 {
    padding-right: 24px !important;
  }

  &--r25 {
    padding-right: 25px !important;
  }

  &--r30 {
    padding-right: 30px !important;
  }

  &--r35 {
    padding-right: 35px !important;
  }

  &--r40 {
    padding-right: 40px !important;
  }

  &--r70 {
    padding-right: 70px !important;
  }

  /*--------------------------------- bottom */
  &--b0 {
    padding-bottom: 0 !important;
  }

  &--b1 {
    padding-bottom: 1px !important;
  }

  &--b2 {
    padding-bottom: 2px !important;
  }

  &--b3 {
    padding-bottom: 3px !important;
  }

  &--b4 {
    padding-bottom: 4px !important;
  }

  &--b5 {
    padding-bottom: 5px !important;
  }

  &--b6 {
    padding-bottom: 6px !important;
  }

  &--b7 {
    padding-bottom: 7px !important;
  }

  &--b8 {
    padding-bottom: 8px !important;
  }

  &--b9 {
    padding-bottom: 9px !important;
  }

  &--b10 {
    padding-bottom: 10px !important;
  }

  &--b11 {
    padding-bottom: 11px !important;
  }

  &--b12 {
    padding-bottom: 12px !important;
  }

  &--b13 {
    padding-bottom: 13px !important;
  }

  &--b14 {
    padding-bottom: 14px !important;
  }

  &--b15 {
    padding-bottom: 15px !important;
  }

  &--b16 {
    padding-bottom: 16px !important;
  }

  &--b20 {
    padding-bottom: 20px !important;
  }

  &--b24 {
    padding-bottom: 24px !important;
  }

  &--b25 {
    padding-bottom: 25px !important;
  }

  &--b30 {
    padding-bottom: 30px !important;
  }

  &--b35 {
    padding-bottom: 35px !important;
  }

  &--b40 {
    padding-bottom: 40px !important;
  }

  /*--------------------------------- left */
  &--l0 {
    padding-left: 0 !important;
  }

  &--l1 {
    padding-left: 1px !important;
  }

  &--l2 {
    padding-left: 2px !important;
  }

  &--l3 {
    padding-left: 3px !important;
  }

  &--l4 {
    padding-left: 4px !important;
  }

  &--l5 {
    padding-left: 5px !important;
  }

  &--l6 {
    padding-left: 6px !important;
  }

  &--l7 {
    padding-left: 7px !important;
  }

  &--l8 {
    padding-left: 8px !important;
  }

  &--l9 {
    padding-left: 9px !important;
  }

  &--l10 {
    padding-left: 10px !important;
  }

  &--l11 {
    padding-left: 11px !important;
  }

  &--l12 {
    padding-left: 12px !important;
  }

  &--l13 {
    padding-left: 13px !important;
  }

  &--l14 {
    padding-left: 14px !important;
  }

  &--l15 {
    padding-left: 15px !important;
  }

  &--l16 {
    padding-left: 16px !important;
  }

  &--l20 {
    padding-left: 20px !important;
  }

  &--l24 {
    padding-left: 24px !important;
  }

  &--l25 {
    padding-left: 25px !important;
  }

  &--l30 {
    padding-left: 30px !important;
  }

  &--l35 {
    padding-left: 35px !important;
  }

  &--l38 {
    padding-left: 38px !important;
  }

  &--l40 {
    padding-left: 40px !important;
  }

  &--l50 {
    padding-left: 50px !important;
  }
}