.width {
  &--all {
    width: 100% !important;
  }

  &--inh {
    width: inherit !important;
  }

  &--aut {
    width: auto !important;
  }

  &--size20 {
    width: 20px !important;
  }

  &--size28 {
    width: 28px !important;
  }
  &--size40 {
    width: 40px !important;
  }

  &--size50 {
    width: 50px !important;
  }

  &--size65 {
    width: 65px !important;
  }

  &--size80 {
    width: 80px !important;
  }

  &--size90 {
    width: 90px !important;
  }

  &--size108 {
    width: 108px !important;
  }

  &--size129 {
    width: 129px !important;
  }

  &--size131 {
    width: 131px !important;
  }

  &--size140 {
    width: 140px !important;
  }

  &--size150 {
    width: 150px !important;
  }

  &--size168 {
    width: 168px !important;
  }

  &--size177 {
    width: 177px !important;
  }
  &--size190 {
    width: 190px !important;
  }

  &--size201 {
    width: 201px !important;
  }

  &--size208 {
    width: 208px !important;
  }

  &--size220 {
    width: 220px !important;
  }

  &--size250 {
    width: 250px !important;
  }

  &--size295 {
    width: 295px !important;
  }

  &--size320 {
    width: 400px !important;
  }

  &--size328 {
    width: 328px !important;
  }

  &--size400 {
    width: 328px !important;
  }

  &--size500 {
    width: 500px !important;
  }

  &--size527 {
    width: 527px !important;
  }

  // max-width
  &--min190 {
    min-width: 190px;
  }

  &--min450 {
    min-width: 450px;
  }

  &--min500 {
    min-width: 500px !important;
  }

  &--min540 {
    min-width: 540px !important;
  }

  &--min550 {
    min-width: 550px !important;
  }

  &--max126 {
    max-width: 126px;
  }
  &--max527 {
    max-width: 527px !important;
  }
  &--max460 {
    max-width: 460px;
  }

  &--max150 {
    max-width: 150px;
  }

}